body 
{
	font-family: 'Lato', sans-serif;
	background-color:#FFF;
	margin: 0px;
}

header 
{
	background-color:#009ee2;
	width:100%;
	height:80px;
}

#logo 
{
	float: left;
	width: 431px;
	margin-left:25px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#logo a 
{
	text-decoration: none;
	display:inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	font-size:18px;
	color:#FFF;
}

#logo img 
{
	margin-right: 20px;
	width: 200px;
	height: 30px;
}

#search 
{
	float: right;
	margin-right: 25px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#search-input 
{
	height: 40px;
	width: 192px;
	padding-left:15px;
	padding-right:20px;
	font-family: 'Lato', sans-serif;
	background-image:url("../images/search-glass.png");
	background-repeat:no-repeat;
	background-position:157px 11px;
	border:2px #444444 solid;
}

#search-input:focus 
{
	background-image:none;
}

nav 
{
	background-color: #656565;
}

nav ul 
{
	margin: 0;
	padding-left: 25px;
	list-style-type: none;
}

nav ul li 
{
	display: inline-block;
}

nav ul li a
{
	margin: 10px 10px 10px 0px;
	display: block;
	color:#fff;
	width:110px;
	text-align:center;
	font-family:"Lato", sans-serif;
	padding: 10px;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
}

nav ul a:hover, nav ul a:active
{
	background-color:#009ee2;
	color:#FFF;
}

section
{
	padding-top: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row;
	-ms-flex-flow: row;
	flex-flow: row;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content:space-around;
}

/*--ASIDE--*/

aside 
{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:17px;
}

aside div
{
	border-radius: 15px;
	cursor: pointer;
	padding: 20px;
}

.aside-active
{
	color: #fff;
	background-color: #323232;
}

.aside-image
{
	padding: 0;
}

/*--FOOTER--*/

footer 
{
	bottom: 0;
	position: fixed;
	background-color:#009ee2;
	height:45px;
	width:100%;
}

footer div 
{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 279px;
	margin: auto;
}

footer p 
{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:13px;
	color: #fff;
}

/*--DATA TABLE--*/
.ip-table
{
	font-family: 'Lato', sans-serif;
	color:#000;
	font-weight:400;
	border-spacing:0;
	border-top:0;
	border-right:0;
	border-left:0;
	border-bottom:1px #AAAAAA solid;
}

.ip-table th 
{
	background-color:#656565;
	color:#FFFFFF;
	border:0;
}

.ip-table tr:nth-child(odd) 
{
    background-color: #FFFFFF;
}

.ip-table tr:nth-child(even) 
{
    background-color: #EEEEEE;
}

.table-content
{
	text-align:center;
	border:0;
}

.name 
{
	text-align:right;
	border:0;
}

.notes 
{
	border: 0;
	width: 350px;
}

.pageNumbers
{
	float:right;
}

.display-results 
{
	float:left;
	position:relative;
}

.loginContain
{
	padding:5px 20px 5px 20px;
	width:220px;
	background:#000;
	border:1px solid #F00;
	border-radius:3px;
}

.forgotContain
{
	margin: auto;
	padding:5px 20px 5px 20px;
	background:#000;
	border:1px solid #F00;
	border-radius:3px;
}

.submitButton 
{
	background-color:#009ee2;
	color:#FFF;
	border:none !important;
}

.submitButton:hover
{
	color:#fff;
	/*text-shadow:0 1px #E3F1F1;*/
	/*background:#3F9;*/
	/*background-color: #656565;*/
	background-color: #999999;
	cursor:pointer;
}

.add-contain
{
	margin-left:-35px;
	margin-top:-15px;
	width:603px;
	background:#e5e5e5;
	border-radius:3px;
	padding-bottom:31px;
}

.add-head p 
{
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 23px;
	margin: 0;
	height: 40px;
	background-color: #696969;
	padding-top: 12px;
	padding-left:25px;
	text-align:left;
}

.add-form
{
	margin-top:15px;
}

.add-form ul
{
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

.add-form li
{
	padding: 8px;
}

.add-form input
{

}

.add-form input:focus
{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.add-form label
{
	font-weight: 900;
	padding-right: 15px;
	text-align: right;
	width: 150px;
	display: inline-block;
}

.add-form select
{
	width: 225px;
	height: 35px;
	margin: 5px;
	padding: 0 10px;
	font-size: 14px;
}

.add-form span
{
	float: right;
	text-align: left;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.delete-dialog-delete
{
	border: none;
	float:left;
	color:#fff;
	background-color:#999999;
	padding:0 18px;
	height:29px;
	font-weight:bold;
}

.delete-dialog-delete:hover
{
	color:#000;
	background:#FF4040;
	cursor:pointer;
}

.success-add
{
	color:#000;
	margin-left:97px;
	text-align:center;
	padding:5px 20px 5px 20px;
	width:200px;
	background:#0F0;
	border:1px solid #000;
	border-radius:3px;
}

.fail-add{
	color:#000;
	margin-left:97px;
	text-align:center;
	padding:5px 20px 5px 20px;
	width:200px;
	background:#FF0009;
	border:1px solid #000;
	border-radius:3px;
}

dialog {
	border:none;
	background-color:#e5e5e5;
}

dialog p {
	font-family:"Lato", sans-serif;
	font-size:17px;
	color:#FF4040;
	text-align:left;
	margin-bottom:30px;
}

dialog h2 {
	margin-right: 50px;
	display: inline;
	font-family:"Lato", sans-serif;
	color:#000;
	font-size:25px;
	font-weight:900;
	text-align:left;
	border-bottom: 1px solid #000;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.resetButtonModal {
	float:right;
	color:#fff;
	background-color:#999999;
	border:none !important;
}

.resetButtonModal:hover{
	color:#000;
	background:#3F9;
	cursor:pointer;
}

input
{
	font-family:'Lato', sans-serif;
	font-size:14px;
}

input[type=text], input[type=password]
{
	margin:5px;
	padding:0 10px;
	width:200px;
	height:35px;
}

input[type=submit], input[type=reset]
{
	padding:0 18px;
	height:29px;
	font-weight:bold;
	margin: 5px;
}

input[type=button]
{
	padding:0 18px;
	height:29px;
	font-weight:bold;
	border:1px solid;
	border-color:#000 #000 #000;
}

.form-contain
{
	padding:5px 20px 5px 20px;
	background:#000;
	background-color: #656565;
}

.delete-img 
{
	width:25px;
	outline: none;
}

.edit-img 
{
	width:30px;
	outline: none;
}

#close 
{
	color:#000;
	background-color:#999999;
	border:none !important;
	float:right;
	height:23px;
	padding:0px 7px;
	font-size:12px;
	outline: none;
}

#close:hover
{
	color:#FFF;
	background:#323232;
	cursor:pointer;
}